@charset "UTF-8";
.sidenav {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 60px;
	left: 0;
	background-color: #bdbdbd;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav .nav_list #logo {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	font-size: 400%;
}

.sidenav .nav_list  #gotomypage {
	padding: 6px 8px 6px 16px;
	text-align: center;
}

.sidenav .nav_list  #gotomypage img {
	width: 80px;
	height: 80px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.sidenav #member_pic {
	width: 150px;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.sidenav .now_member {
	text-align: center;
	font-size: 150%;
}