@charset "UTF-8";

section #calendar {
	float: left;
	max-width: 700px;
	max-height: 300px;
	padding: 50px;
}

section #calendar {
	float: left;
	max-width: 700px;
	max-height: 300px;
	padding: 50px;
}
