<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull"  value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type ="com.kh.wefer.member.model.domain.Member" alias = "Member"/> 
		<typeAlias type ="com.kh.wefer.member.model.domain.Dept" alias="Dept"/>
		<typeAlias type ="com.kh.wefer.project.model.domain.Project" alias="Project"/>
		<typeAlias type ="com.kh.wefer.payment.model.domain.Payment" alias="Payment"/>
		<typeAlias type ="com.kh.wefer.payment.model.domain.Conference" alias="Conference"/>
		<typeAlias type ="com.kh.wefer.payment.model.domain.Annual" alias="Annual"/>
	</typeAliases>
	<mappers> <!-- 쿼리문이 있는 xml등록 -->
		<mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/payment-mapper.xml"/>
		<mapper resource="mapper/annual-mapper.xml"/>
	</mappers>
</configuration>