<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member"> <!-- DAO에서 접근할때 사용되는 이름임 -->
	<resultMap type="Member" id="resultMember"> <!-- type = "xml의 별칭" -->
		<!-- property에는vo의 필드명, column에는 db table의 컬럼명 -->
		<id property="id" column="id"></id>
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="email" column="email" />
		<result property="position" column="position" />
		<result property="profile" column="profile" />
		<result property="status" column="status" />
		<result property="annual" column="annual" />
		<result property="employ_date" column="employ_date" />
		<result property="dept_no" column="dept_no" />
		<result property="birth" column="birth" />
		<result property="dept_name" column="dept_name" />
		<result property="address" column="address" />
	</resultMap>
	<!-- 	<resultMap type="Dept" id="resultDept"> type = "xml의 별칭"
		property에는vo의 필드명, column에는 db table의 컬럼명
		<id property="dep`t_no" column="dept_no"></id>
		<result property="dept_name" column="dept_name" />
		
		

	</resultMap> -->
	
	<select id="memberList" resultType="arraylist"
		resultMap="resultMember">
		select dept.dept_name,member.position, member.profile, member.status, member.name, member.id from dept, member where dept.dept_no = member.dept_no
	</select>
	
	<select id="memberAllList" resultType="arraylist"
		resultMap="resultMember">
		select * from member order by dept_no desc
	</select>
	
	<insert id="insertMember"  parameterType="Member"  statementType="PREPARED">
		insert into member(
			id,
			password,
			name,
			birth,
			phone,
			email,
			position,
			profile,
			status,
			annual,
			dept_no,
			employ_date,
			address)
    	values(
    		'WE'||TO_CHAR(SYSDATE,'RRMMDD')||LPAD(WEFER_MEMBER_SEQ.NEXTVAL,2,#{dept_no}),
    		1234,
    		#{name},
    		#{birth},
    		#{phone},
    		#{email},
    		#{position},
    		#{profile},
    		'퇴근',
    		'12',
    		#{dept_no},
    		SYSDATE,
    		#{address})
	</insert>
	
	<select id="login" resultType="Member"
		resultMap="resultMember">
		select * from member where id=#{id} and password=#{password}
	</select>
	
	<delete id="delete" parameterType="string"
		flushCache="true" statementType="PREPARED">
		delete from member where id=#{id}
	</delete>
	
	
	<select id="deptmemberlist" resultType="arraylist"
		resultMap="resultMember">
		select * from member where dept_no =#{dept_no}
	</select>
	
	<select id="selectuserdept" resultType="string" parameterType="string">
	
	select dept_no from member where id=#{id}
	</select>

		
		
	<select id="searchmemberlist" parameterType="string"
		resultType="arraylist" resultMap="resultMember">
		SELECT * FROM member
		WHERE name
		LIKE '%'||#{keyword}||'%' 
		ORDER BY dept_no desc
	</select>
	
	<!-- 주소록 의 사원 연락처 조회 -->
	<select id="personerProfileList" resultType="Member"
		parameterType="string">
		select name, email, phone, profile, address from member where id=#{id}
	</select>
	
	
	
	<!-- Profile 페이지 연락처 조회 -->
	<select id="ProfileList" resultType="Member"
		parameterType="string">
		select id, name, decode(dept_no ,1,'인사팀',2, '경영팀',3, '개발팀') as dept_name
 		,position , email, birth, phone, address,profile  from member where id = #{id}
		
	</select>
	
	<!-- Profile 페이지 연락처 정보 수정 -->
	<update id="updateProfile" parameterType="Member" flushCache="true" statementType="PREPARED">
	UPDATE Member SET 
	phone=#{phone},
	email=#{email}, 
	address=#{address}
	WHERE 
	id=#{id} 
	AND 
	password=#{password}
	</update>
	
	<!-- Profile password 변경 -->
	<update id="updatePw" parameterType="Member" flushCache="true" statementType="PREPARED">
	UPDATE Member SET 
	password=#{password}
	WHERE 
	id=#{id} 
	
	</update>
	
	<select id="pwCheck" parameterType="Member" resultType="arraylist" resultMap="resultMember">
	select password 
	from member 
	where id=#{id} 
	and password=#{password}
	</select>
	
	
	<select id="checkuserid" parameterType="string" resultType="arraylist" resultMap="resultMember">
		select position,dept_no from member where id=#{id}
	</select>
	
	
		<!-- 회원가입 이메일 중복검사 -->
	<select id="emailChk" parameterType="Member" resultType="arraylist" resultMap="resultMember">
		select email from member where email = #{email} 
	</select>
	
	
	<select id="gotoid" parameterType="string" resultType="String">
		select id from member where email=#{email}
	</select>
	
	<select id="gotopw" parameterType="string" resultType="String">
		select password from member where id=#{id} and email=#{email}
	</select>
	
</mapper>
